<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/product.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <title>Teh Poci | Product</title>
</head>

<body>
    <div class="wrapper">
        <main>
            <nav>
                <div class="nav-left">
                    <div class="n-img-wrap">
                        <img src="../../assets/img/logo-poci.png" alt="logo">
                    </div>
                </div>
                <div class="nav-right">
                    <ul class="nav">
                        <li class="nav-item"><a href="../index.html">Home</a></li>
                        <li class="nav-item"><a href="">Products</a></li>
                        <li class="nav-item"><a href="">About Us</a></li>
                        <li class="nav-item"><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main-content">
                <div class="mc-left">
                    <div class="mcl-wrap">
                        <img src="../../assets/img/splash-ori.png" class="img-fluid" alt="" id="productsplash"
                            name="productsplash" id="productsplash">
                    </div>
                </div>
                <div class="mc-right">
                    <div class="mcr-wrap">
                        <div class="mcr-header mb-4">
                            <h4>BANYAK VARIAN YANG BISA DINIKMATI</h4>
                        </div>
                        <div class="mcr-product">
                            <div class="mcr-list">
                                <div class="box-wrap">
                                    <input type="radio" value="original" name="drinklist" id="original" checked>
                                    <label for="original" class="box-list">
                                        <img src="../../assets/img/list-ori.png" alt="original"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="guava" name="drinklist" id="guava" checked>
                                    <label for="guava" class="box-list">
                                        <img src="../../assets/img/list-guava.png" alt="guava"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="coklat" name="drinklist" id="coklat" checked>
                                    <label for="coklat" class="box-list">
                                        <img src="../../assets/img/list-coklat.png" alt="coklat"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="thai" name="drinklist" id="thai" checked>
                                    <label for="thai" class="box-list">
                                        <img src="../../assets/img/list-thai.png" alt="thai"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="thai" name="drinklist" id="thai" checked>
                                    <label for="thai" class="box-list">
                                        <img src="../../assets/img/list-thai.png" alt="thai"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="thai" name="drinklist" id="thai" checked>
                                    <label for="thai" class="box-list">
                                        <img src="../../assets/img/list-thai.png" alt="thai"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                            </div>
                            <div class="mcr-list">
                                <div class="box-wrap">
                                    <input type="radio" value="original" name="drinklist" id="original" checked>
                                    <label for="original" class="box-list">
                                        <img src="../../assets/img/list-ori.png" alt="original"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="guava" name="drinklist" id="guava" checked>
                                    <label for="guava" class="box-list">
                                        <img src="../../assets/img/list-guava.png" alt="guava"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="coklat" name="drinklist" id="coklat" checked>
                                    <label for="coklat" class="box-list">
                                        <img src="../../assets/img/list-coklat.png" alt="coklat"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="thai" name="drinklist" id="thai" checked>
                                    <label for="thai" class="box-list">
                                        <img src="../../assets/img/list-thai.png" alt="thai"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="thai" name="drinklist" id="thai" checked>
                                    <label for="thai" class="box-list">
                                        <img src="../../assets/img/list-thai.png" alt="thai"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                                <div class="box-wrap">
                                    <input type="radio" value="thai" name="drinklist" id="thai" checked>
                                    <label for="thai" class="box-list">
                                        <img src="../../assets/img/list-thai.png" alt="thai"
                                            class="img-fluid list-item">
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="../animate/product.js"></script>
</html>